## Data manipulation and analysis
pandas
numpy

# Machine learning models
scikit-learn

# Data visualization (optional, but highly recommended)
matplotlib
seaborn

# Model serialization
joblib
# Web framework for deployment
flask
flask-cors

# deployment
vercel-python
gunicorn
streamlit
streamlit-option-menu